<%- include("../public/partials/header.ejs");  %>

<body class="container">
    
    <div class="titulo bg-primary text-white">
        <h3>API REST - PI</h3>
    </div>

</body>

<%- include("../public/partials/footer.ejs");  %>